body{
    background-color: rgb(62, 153, 233);
    text-align: center;
}
h1{
    background-color: gray;

    color: aliceblue;
    border: 2px white solid;
    border-radius: 20px 20px;
    box-shadow: 2px 2px 4px black;
    
}
.contenedor{
    background-color: gray;
    width: max-content;
    margin-left: 40%;
    padding: 1em;
    border: 2px white solid;
    border-radius: 20px 20px;
    box-shadow: 2px 2px 4px black;;
}
