*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: coral;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    margin-left: 40%;
    margin-top: 3em;
    padding: 2em;
    background-color: gray;
    width: max-content;
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px black ;
    color: white;    
}
.contenedor1{
    margin-top: 1em;
    margin-bottom: 2em;

}
.contenedor2{
    text-align: center;
    margin-left: 1em;
    margin-bottom: -4em;
}
input{
    background-color: coral;
    color: white;
}

.contenedor_tabla{
    width: 100vw;
    display: grid;
    place-items: center;
    margin-top: 2em;
    background-color: gray;
    padding: 0.5em 10em 0.5 10em;
    border: 2px white solid;
    color: white;
}
table{
    border-collapse: collapse;
    border: 2px white solid;
}
td{
    border: 2px white solid;
}