body{
    background-color: coral;
}
.cont{
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
    border: 2px white solid;
    border-radius: 15px;
    box-shadow: 0.2em 0.2em 0.4em black;

}